---
layout: page
description: "某绅士的无聊兴趣"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    {% if post.article-img %}
    <img src="{{ post.article-img }}" alt="" width="{{ post.article-img-width }}" class="scale" style="position: relative;z-index: 233">
    {% endif %}
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<style>
    body {
        /*background-color: rgb(213, 242, 216);*/
        /*background-color: rgb(213, 242, 216);*/
        background: #dceffe url(http://hanayuki.me/img/bg.jpg) 0 0 repeat;
        cursor: url("http://hanayuki.me/img/cursor/huaji.png"), auto;
    }

    .top {
        width: 25% !important;
        position: fixed;
        right: -10%;
        bottom: -15%;
        display: none;
    }
    img {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        transition: all .5s;
        border: 1px solid #E6E6EB;
        padding: 3px;
    }
    img:hover {
        border: 1px solid #3dabca;
        padding: 0;
        box-shadow: 3px 6px 30px #777;
        -moz-box-shadow: 3px 6px 30px #777;
        -webkit-box-shadow: 3px 6px 30px #777;
    }
    a:hover {
        cursor: url("http://hanayuki.me/img/cursor/yinxian.png"), auto;
    }
    @media screen and (max-width: 768px) {
        .top {
            width: 50% !important;
            right:-15%;
        }
        body {
            background-size: 50%;
        }
    }
</style>
<img src="http://hanayuki.me/img/sis-dujiaoshou.png" class="top" id="scrollTop" alt="" style="border: none;transition: none;">
<script>
    var imgs = document.getElementsByClassName('scale');
    var original = '';
    for (var i=0;i<imgs.length;i++){
        var bool = true;
        imgs[i].index = i;
        if (document.body.offsetWidth > 768){
            console.log(233);
            imgs[i].onclick = function () {
//                alert(1);
                if (bool){
                    if(imgs[this.index].naturalWidth >= document.body.offsetWidth/2) {
                        console.log(1);
                        this.style.marginLeft = "-15%";
                    }
                    original = this.style.width;
                    this.style.width = imgs[this.index].naturalWidth+"px";
                    bool = false;
                } else {
                    this.style.marginLeft = "0";
                    this.style.width = original;
                    bool = true;
                }
            }
            imgs[i].onmouseleave = function () {
                this.style.marginLeft = "0";
                this.style.width = original;
                bool = true;
            }
        }
    }
</script>
<script>
    window.onload = function () {
        function scroll() {
            return {
                "top": window.pageYOffset || document.body.scrollTop || document.documentElement.scrollTop,
                "left":  window.pageXOffset || document.body.scrollLeft || document.documentElement.scrollLeft
            }
        }
        var img = document.getElementById("scrollTop");
        window.onscroll = function () {
//                console.log(window.pageYOffset);
            if (scroll().top > 1333){
                $('.top').fadeIn(500);
            } else {
                $('.top').fadeOut(500);
            }
        }
        var timer  = null;
        img.onclick = function(){
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn(){
                var oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if(oTop > 0){
                    document.body.scrollTop = document.documentElement.scrollTop = oTop - (oTop/5);
                    timer = requestAnimationFrame(fn);
                }else{
                    cancelAnimationFrame(timer);
                }
            });
        }
//        console.log(img.width);

//        $('.scale').click(function () {
////            console.log($(".scale").eq($(this).index()));
//            var s = 233;
//            $(this).css("width",s);
//
//        })
        
    }


</script>

<script src="http://hanayuki.me/img/js/canvas-nest.min.js"></script>
